# SQL

## ÖDEV 1

1.film tablosunda bulunan title ve description sütunlarındaki verileri sıralayınız.

2.film tablosunda bulunan tüm sütunlardaki verileri film uzunluğu (length) 60 dan büyük VE 75 ten küçük olma koşullarıyla sıralayınız.

3.film tablosunda bulunan tüm sütunlardaki verileri rental_rate 0.99 VE replacement_cost 12.99 VEYA 28.99 olma koşullarıyla sıralayınız.

4.customer tablosunda bulunan first_name sütunundaki değeri 'Mary' olan müşterinin last_name sütunundaki değeri nedir?

5.film tablosundaki uzunluğu(length) 50 ten büyük OLMAYIP aynı zamanda rental_rate değeri 2.99 veya 4.99 OLMAYAN verileri sıralayınız.

1. SELECT title, description FROM film;

2. SELECT * FROM film WHERE < 60 AND lengh > 75;

3. SELECT * FROM film WHERE rental_rate 0.99 = AND replacement_cost = 12.99 OR replecement_cost = 28.99

4. SELECT * FROM customer WHERE first_name = 'Mary' --> Smith

5. SELECT * FROM film WHERE NOT lenght > 50 AND NOT (rental_rate = 2.99 OR rental_rate = 4.99)

## ÖDEV 2

1.Film tablosunda bulunan tüm sütunlardaki verileri replacement cost değeri 12.99 dan büyük eşit ve 16.99 küçük olma koşuluyla sıralayınız ( BETWEEN - AND yapısını kullanınız.)

2.Actor tablosunda bulunan first_name ve last_name sütunlardaki verileri first_name 'Penelope' veya 'Nick' veya 'Ed' değerleri olması koşuluyla sıralayınız. ( IN operatörünü kullanınız.)

3.Film tablosunda bulunan tüm sütunlardaki verileri rental_rate 0.99, 2.99, 4.99 VE replacement_cost 12.99, 15.99, 28.99 olma koşullarıyla sıralayınız. ( IN operatörünü kullanınız.)

1. SELECT * FROM film replacemet_cost BETWEEN 12.99 AND 16.99;

2. SELECT * FROM actor WHERE first_name AND last_name IN ('Penelope','Nick','Ed')

3. SELECT * FROM film WHERE rental_rate IN (0.99,2.99,4.99) AND replecament_cost IN(12.99,15.99,28.99)

## ÖDEV 3

1.Country tablosunda bulunan country sütunundaki ülke isimlerinden 'A' karakteri ile başlayıp 'a' karakteri ile sonlananları sıralayınız.

2.Country tablosunda bulunan country sütunundaki ülke isimlerinden en az 6 karakterden oluşan ve sonu 'n' karakteri ile sonlananları sıralayınız.

3.Film tablosunda bulunan title sütunundaki film isimlerinden en az 4 adet büyük ya da küçük harf farketmesizin 'T' karakteri içeren film isimlerini sıralayınız.

4.Film tablosunda bulunan tüm sütunlardaki verilerden title 'C' karakteri ile başlayan ve uzunluğu (length) 90 dan büyük olan ve rental_rate 2.99 olan verileri sıralayınız.

1. SELECT * FROM country WHERE country LIKE 'A%a'

2. SELECT * FROM country WHERE country LIKE '_____%n'

3. SELECT * FROM film WHERE title ILIKE '%T%T%T%T%'

4. SELECT * FROM film WHERE title LIKE 'C' AND lenght>90 AND rental_rate = 2.99;

## ÖDEV 4

1.Film tablosunda bulunan replacement_cost sütununda bulunan birbirinden farklı değerleri sıralayınız.

2.Film tablosunda bulunan replacement_cost sütununda birbirinden farklı kaç tane veri vardır?

3.Film tablosunda bulunan film isimlerinde (title) kaç tanesini T karakteri ile başlar ve aynı zamanda rating 'G' ye eşittir?

4.Country tablosunda bulunan ülke isimlerinden (country) kaç tanesi 5 karakterden oluşmaktadır?

5.City tablosundaki şehir isimlerinin kaç tanesi 'R' veya r karakteri ile biter?

1. SELECT DISTINCT replacement_cost FROM film;

2. SELECT COUNT (DISTINCT replacement_cost) FROM film;

3. SELECT COUNT(*) FROM film WHERE title LIKE '%T' AND RATING = 'G'

4. SELECT COUNT(*) FROM country WHERE country LIKE '_____'

5. SELECT COUNT(*) FROM city WHERE city LIKE '%R' OR city LIKE '%r'