## ÖDEV 9

1.city tablosu ile country tablosunda bulunan şehir (city) ve ülke (country) isimlerini birlikte görebileceğimiz INNER JOIN sorgusunu yazınız.

2.customer tablosu ile payment tablosunda bulunan payment_id ile customer tablosundaki first_name ve last_name isimlerini birlikte görebileceğimiz INNER JOIN sorgusunu yazınız.

3.customer tablosu ile rental tablosunda bulunan rental_id ile customer tablosundaki first_name ve last_name isimlerini birlikte görebileceğimiz INNER JOIN sorgusunu yazınız.

In [ ]:
SELECT city,country
FROM city
INNER JOIN country ON city.country_id=country.country_id;

In [ ]:
SELECT payment_id,first_name,last_name FROM customer
INNER JOIN payment ON
customer.customer_id=payment.customer_id;

In [ ]:
SELECT rental_id, first_name, last_name
FROM customer
INNER JOIN rental ON customer.customer_id = rental.customer_id;

## ÖDEV 10 

1.city tablosu ile country tablosunda bulunan şehir (city) ve ülke (country) isimlerini birlikte görebileceğimiz LEFT JOIN sorgusunu yazınız.

2.customer tablosu ile payment tablosunda bulunan payment_id ile customer tablosundaki first_name ve last_name isimlerini birlikte görebileceğimiz RIGHT JOIN sorgusunu yazınız.

3.customer tablosu ile rental tablosunda bulunan rental_id ile customer tablosundaki first_name ve last_name isimlerini birlikte görebileceğimiz FULL JOIN sorgusunu yazınız.

In [ ]:
SELECT city,country
FROM city
LEFT JOIN country
ON city.country_id=country.country_id;

In [ ]:
SELECT payment_id,first_name,last_name
FROM customer
RIGHT JOIN payment
ON customer.customer_id=payment.customer_id;

In [ ]:
SELECT rental_id,first_name,last_name
FROM customer
FULL JOIN rental
ON customer.customer_id=rental.customer_id;

## ÖDEV 11

1.actor ve customer tablolarında bulunan first_name sütunları için tüm verileri sıralayalım.

2.actor ve customer tablolarında bulunan first_name sütunları için kesişen verileri sıralayalım.

3.actor ve customer tablolarında bulunan first_name sütunları için ilk tabloda bulunan ancak ikinci tabloda bulunmayan verileri sıralayalım.

4.İlk 3 sorguyu tekrar eden veriler için de yapalım.

In [ ]:
SELECT first_name FROM actor UNION
SELECT first_name FROM customer;

In [ ]:
SELECT first_name FROM actor INTERSECT
SELECT first_name FROM customer;

In [ ]:
SELECT first_name FROM actor EXCEPT
SELECT first_name FROM customer;

In [ ]:
SELECT first_name FROM actor UNION ALL
SELECT first_name FROM customer;

SELECT first_name FROM actor INTERSECT ALL
SELECT first_name FROM customer;

SELECT first_name FROM actor EXCEPT ALL
SELECT first_name FROM customer;